
 .driver{
  height: 1px;
  width: 100%;
  background: #d9d9d9;
  margin: 20px 0px;
}
.option{
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
  .edit{
    color: white;
    background: #4096ff;
    padding: 4px 15px;
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
  }
  .delete{
    color: white;
    background:#ed0f11;
    padding: 4px 15px;
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
  }
  .other{
    color: white;
    background:#686767;
    padding: 4px 15px;
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
  }
}

.titleBox{
  display: flex;
  align-items: center;
  .icon{
    font-size: 18px;
    width: 34px;
    border-radius: 50%;
    height: 34px;
    margin-right: 8px;
  }
  .title{
    animation: blink 1s linear infinite;  

  }
  @keyframes blink {  
    0% {  
      color: red;  
    }  
    50% {  
      color: blue;  
    }  
    100% {  
      color: green;  
    }  
  }
}
