html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: white;
}

body,
pre {
  font-family: "Microsoft YaHei", "微软雅黑", "SimHei", sans-serif !important;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgba(192, 188, 188, 0.2);
  background: rgba(103, 102, 102, 0.2);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(192, 188, 188, 0.2);
  border-radius: 0;
  background: rgba(103, 102, 102, 0.2);;
}
:global{
  .ant-table-tbody >tr.ant-table-row:hover>td{
    background: rgba(239, 5, 5, 0.5) !important;
  }
  /* 设置单行背景色为灰色 */
.ant-table-tbody tr:nth-child(odd) td {
  background: #d9d9d9c9;

}

/* 设置双行背景色为白色 */
.ant-table-tbody tr:nth-child(even) td {
  background: #ffffff;

}
:where(.css-dev-only-do-not-override-byeoj0).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-byeoj0).ant-table-wrapper .ant-table-thead >tr>td {
  background: rgb(196 185 162 / 88%) !important
}
}